*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;    
    height: 100vh;
}

#main-grid-container{
    background-color: white;

    height: 800px;
    width: 800px;


    position: relative;

    top: 5%;
    left: 30%;

    display: grid;

    /*
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(4, 400px);
*/
}

.individual-divs{
    border: 1px solid rgb(100, 54, 54);

}

/*BUTTONS*/

/*BUTTONS-CONTAINER*/
#buttons-container{
    width: fit-content;

    position: relative;
    left: 10%;
    bottom: 50%;

    display: grid;
    row-gap: 20px;
    column-gap: 20px;

}

/*BLACK BUTTON*/
#black-button{

}

/*ERASE ALL BUTTON*/
#erase-all-button{

    position: relative;
}


/*LABEL (FOR SLIDER)*/
label{
    color: white;
}

/*RANGE INPUT AND LABEL STYLINGS*/
#range-label{
}


#range-picker-slider{
    color: red;
    background: transparent;
    opacity: 50%;
}


#range-picker-slider:hover{
    opacity: 100%;

}







/*CSS MEDIA QUERIES*/
@media(max-width: 1152px){
    #main-grid-container{
        height: 700px;
        width: 700px;
    }

    #buttons-container{
        bottom: 50%;
    }

}

@media(max-width: 1010px){
    #main-grid-container{
        top: 18%;
        height: 600px;
        width: 600px;
    }

    #buttons-container{
        bottom: 30%;
    }
}

@media(max-width: 1010px){
    #main-grid-container{
        top: 18%;
        width: 80%;
    }

    #buttons-container{
        bottom: 30%;
    }
}
