*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;    
    height: 100vh;
}

#main-grid-container{
    background-color: white;

    height: 800px;
    width: 800px;


    position: relative;

    top: 5%;
    left: 30%;

    display: grid;

    /*
    grid-template-columns: repeat(4, 400px);
    grid-template-rows: repeat(4, 400px);
*/
}

.individual-divs{
    border: 1px solid rgb(100, 54, 54);

}

/*BUTTONS*/

/*BUTTONS-CONTAINER*/
#buttons-container{
    width: fit-content;

    position: relative;
    left: 10%;
    bottom: 50%;

    display: grid;
    row-gap: 20px;
    column-gap: 20px;
}

/*BLACK BUTTON*/
#black-button{

}

/*ERASE ALL BUTTON*/
#erase-all-button{

    position: relative;
}


/*LABEL (FOR SLIDER)*/
label{
    color: white;
}