*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: red;    
    height: 100vh;
}

#main-grid-container{
    background-color: white;

    height: 400px;
    width: 400px;


    position: relative;

    top: 30%;
    left: 30%;

    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(20px, 100px));

}

.individual-divs{
    height: 100px;
    width: 100px;
    border: 1px solid rgb(100, 54, 54);
    
}


/*ERASE ALL BUTTON*/
#erase-all-button{
    max-width: fit-content;

    position: relative;
    left: 10%;
}